body {
    background-color: #F5F5F5; /* Cambia #F5F5F5 por el color de fondo que desees */
  }
/* Estilo para todos los elementos de texto */
body {
    font-family: Arial, Helvetica, sans-serif; /* Cambia Arial, Helvetica, sans-serif por la fuente que desees */
    font-size: 16px; /* Cambia 16px por el tamaño de fuente que desees */
    color: #333333; /* Cambia #333333 por el color de texto que desees */
  }
  
  /* Estilo para un elemento de texto específico */
  h1 {
    font-size: 24px; /* Cambia 24px por el tamaño de fuente que desees */
    font-weight: bold; /* Cambia bold por la negrita que desees */
    color: #000000; /* Cambia #000000 por el color de texto que desees */
  }
    