/* Estilo para el primer tipo de letra */
.font1 {
    font-family: Arial, Helvetica, sans-serif; /* Cambia Arial, Helvetica, sans-serif por la fuente que desees */
    font-size: 16px; /* Cambia 16px por el tamaño de fuente que desees */
    color: #099499; /* Cambia #333333 por el color de texto que desees */
  }
  
  /* Estilo para el segundo tipo de letra */
  .font2 {
    font-family: 'Times New Roman', Times, serif; /* Cambia 'Times New Roman', Times, serif por la fuente que desees */
    font-size: 20px; /* Cambia 20px por el tamaño de fuente que desees */
    color: #d3f517; /* Cambia #666666 por el color de texto que desees */
  }
  
  /* Estilo para el tercer tipo de letra */
  .font3 {
    font-family: 'Courier New', Courier, monospace; /* Cambia 'Courier New', Courier, monospace por la fuente que desees */
    font-size: 24px; /* Cambia 24px por el tamaño de fuente que desees */
    color: #dd1a1a; /* Cambia #999999 por el color de texto que desees */
  }
  